<span class="content">
  <div class="pageHeader">Vellen</div>
  <div class="contentSection">
    <img
      id="Headerpic"
      class="servicePic"
      src="assets/img/IMG_20220922_173907509_HDR~2.jpg"
      alt=""
    />
    <p>
      Doormiddel van klimtechnieken kunnen wij elke boom vellen
      <span class="vet">zonder schade</span>
      aan te richten aan de onderbegroeing, tuinhuisjes, afrastering,...etc
      <br />
      <br />
      <a routerLink="/contact"><button>Aanvragen gratis offerte !</button></a>
    </p>
  </div>
  <div class="contentSection">
    <img
      class="servicePic"
      src="assets/img/IMG_20221210_121147485_HDR.jpg"
      alt="no picture"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20220419_132820322_HDR.jpg"
      alt=""
    />
    <img class="servicePic" src="assets/img/IMG-20200919-WA0002~2.jpg" alt="" />
    <img class="servicePic" src="assets/img/IMG20240320134546.jpg" alt="" />
  </div>
</span>
