.content {
  grid-template-rows: 100px 1fr;
}
.contentSection {
  align-self: start;
}
#Headerpic {
  justify-self: end;
}
.description {
  display: grid;
  align-content: center;
}
.smallerText {
  font-size: medium;
}
