<span class="content">
  <div class="pageHeader">
    Vellen <span class="smallerText">(als laatste optie)</span>
  </div>
  <div class="contentSection">
    <img
      id="Headerpic"
      class="servicePic"
      src="assets/img/IMG_20220922_173907509_HDR~2.jpg"
      alt=""
    />
    <div class="description">
      Eerst en vooral zullen we samen met u kijken of uw boom behouden kan
      worden met een bepaalde snoeiwijze of bij verzwakte bomen d.m.v.
      <a routerLink="/standplaats" class="inlineLink"
        >standplaats verbetering.</a
      >
      <br /><br />
      Bij twijfel omtrent de veiligheid/gezondheid van uw bomen kunnen wij
      steeds een <a routerLink="/vta" class="inlineLink">VTA-rapport</a> laten
      samenstellen. <br />
      <br />
      Als we na de voorgaande stappen toch over gaan tot een velling dan kunnen
      wij doormiddel van klimtechnieken elke boom vellen zonder schade aan te
      richten aan de onderbegroeing, tuinhuisjes, afrastering,...etc
      <br />
      <br />
      <a routerLink="/contact"><button>Gratis offerte aanvragen !</button></a>
    </div>
  </div>
  <br /><br />
  <div class="contentSection">
    <img
      class="servicePic"
      src="assets/img/IMG_20221210_121147485_HDR.jpg"
      loading="lazy"
      alt="no picture"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20220419_132820322_HDR.jpg"
      loading="lazy"
      alt=""
    />
    <img
      class="servicePic"
      src="assets/img/IMG-20200919-WA0002~2.jpg"
      loading="lazy"
      alt=""
    />
    <img
      class="servicePic"
      src="assets/img/IMG20240320134546.jpg"
      loading="lazy"
      alt=""
    />
    <div class="opgelet">
      <p>
        <span class="vet">Opgelet!</span> <br />
        <br />
        <span class="vet">ABC bomen</span> <br />
        Volgende bomen kunnen enkel gesnoeid worden wanneer ze bladeren dragen:
      </p>
      <ul>
        <li>Acer (esdoorn)</li>
        <li>Betula (berk)</li>
        <li>Carpinus (haagbeuk)</li>
        <li>Juglans (notenboom)</li>
        <li>Vitis (druif)</li>
      </ul>
      <br />
      <hr color="black" />
      <br />
      <p>
        <span class="vet">Broedperiode (Maart-Juli)</span> <br />
        Tijdens deze periode mogen er geen bomen gevelt of ingekort worden.
        <br />
        Snoeiwerken mogen enkel worden uitgevoerd als er geen broedend nest
        aanwezig is in de boom.
      </p>
    </div>
    <br />
  </div>
</span>
