<span class="content">
  <div class="pageHeader">Contact</div>
  <div class="contentSection" id="contactForm">
    @for (inputType of getObjectKeys(contactData); track $index ){
    @if(validation[inputType] === false){
    <div class="red">* {{ inputType }} Ongeldig</div>
    } @if(inputType === "bericht"){
    <textarea
      placeholder="{{ inputType }}"
      id="{{ inputType }}"
      (input)="userInput($event, inputType)"
      style="height: 100px"
    ></textarea>
    } @else {
    <input
      placeholder="{{ inputType }}"
      id="{{ inputType }}"
      type="text"
      (input)="userInput($event, inputType)"
    />
    } }
    <button (click)="sendEmail()" class="verzendButton">Verzenden</button>
    <div>{{ mailSignal.mailSig() }}</div>
    <div class="checklist">
      Gratis offerte &check; <br />
      Snelle response &check; <br />
      Persoonlijke aanpak &check;
    </div>
  </div>
  <div class="loader"></div>
</span>
