<span class="content">
  <div class="pageHeader">VTA <br />(visual tree assessment)</div>
  <div class="contentSection">
    <div class="description">
      Een visual tree assessment is een methode waarbij de gezondheid/veiligheid
      van al uw bomen in kaart worden gebracht. <br />
      Hierbij worden er een aantal aspecten bekeken zoals:
      <ul>
        <li>Stamsterkte</li>
        <li>Beschadiging</li>
        <li>Ziektes</li>
        <li>Verzwakking wortels</li>
      </ul>
      Op basis van een VTA-rapport kan men oordelen of er actie moet ondernomen
      worden om de veiligheid/gezondheid van uw bomen te garanderen. <br />
      <br />
      <a routerLink="/contact"><button>Gratis offerte aanvragen !</button></a>
    </div>
    <img
      class="servicePic"
      src="assets/img/IMG_20220923_155134995.jpg"
      alt="no picture"
    />
    <img
      class="servicePic"
      src="assets/img/IMG20240320134546.jpg"
      loading="lazy"
      alt="no picture"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20200424_170308000.jpg"
      loading="lazy"
      alt="no picture"
    />
    <br />
    <br />
    <p class="disclaimer">© <span id="currentYear">{{this.domService.getYear()}}</span> De Booser Toon, All rights reserved.</p>
  </div>
</span>
