header {
  height: max-content;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100vw;
  margin: 10px 0px 0px 0px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.homeIcon {
  width: 20px;
}
.navButton {
  margin: 0px 10px;
}
.navButton:hover {
  border-top: 1px solid black;
  margin-top: -0.7px;
}

.active {
  border-top: 1px solid black;
  margin-top: -0.7px;
}
main {
  margin: 0px 5px;
  height: calc(100vh - 164.54px);
  overflow-y: auto;
}
footer {
  height: 55.2px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
}
.contactWrap {
  display: flex;
}
.taxusLogo {
  height: auto;
  margin: 10px;
}
.envelope {
  color: black;
  margin-right: 10px;
}

@media (max-width: 340px) {
  main {
    height: calc(100vh - 135.38px);
  }
  img {
    width: 70px;
  }
  .homeIcon {
    width: 15px;
  }
  nav {
    margin-top: 0px;
  }
  a {
    font-size: 12px;
  }
}
