<header>
  <div class="logoWrapper">
    <img
      class="taxusLogo"
      width="100px"
      src="assets/img/Taxus logo 2.png"
      alt=""
    />
  </div>
  <nav>
    <a routerLink=""
      ><img class="homeIcon" src="assets/icons/Untitled-3.png" alt="Home"
    /></a>
    <a routerLinkActive="active" class="navButton" routerLink="vellen"
      >Vellen</a
    >
    <a routerLinkActive="active" class="navButton" routerLink="snoeien">
      Snoeien</a
    >
    <a routerLinkActive="active" class="navButton" routerLink="atelier">
      Atelier</a
    >
    <a routerLinkActive="active" class="navButton" routerLink="contact">
      Contact</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<!-- @if(consentService.consentSig() == false){
<div class="cookieAlert">
  <p class="alertText">
    Mijn excuses voor dit vervelende scherm maar net zoals elke website ben ik
    ook verplicht u te vragen of u cookies accepteerd
  </p>
  <button
    class="accept"
    (click)="this.cookieConsentService.setConsent('consent', true, 1)"
  >
    Accepteren
  </button>
</div>
} -->
<footer>
  <div class="contactWrap">
    <a href="mailto:taxus.work@gmail.com" class="envelope"
      >&#9993; taxus.work&#64;gmail.com
    </a>
    <a href="tel:+32478579510">&#9990;+32478579510</a>
  </div>
</footer>
