<span class="content">
  <div class="pageHeader">Standplaatsverbetering</div>
  <div class="contentSection">
    <img
      class="servicePic"
      src="assets/img/bodem4-1-scaled.jpg"
      alt="load fail"
      loading="lazy"
    />
    <p>
      Er gebeurt heel wat rondom uw boom dat direct of indirect invloed heeft op
      de gezondheid van uw boom. <br /> <br>
      Afhankelijk van de soort zijn er verschillende aspecten waar de omgeving
      aan moet voldoen.
      <br />
      Denk maar aan
      <span class="vet">bodem structuur, dichtheid, vochtigheid,...etc.</span>
      <br> <br>
      Rijdt u vaak met een zitmaaier over de kroonspiegel, zijn er recent werken
      uitgevoerd, is de grond rondom de boom opgehoogd, is er wisselend
      grondwaterniveau,...etc? <br />
      Dit zijn maar enkele scenario's die uw boom ernstig kunnen verzwakken.
      <br />
      <br />
      Samen met u kunnen we bepaalde mogelijkheden overlopen om de omgeving
      rondom uw boom te verbeteren. <br />
      <br />
      <a routerLink="/contact"><button>Gratis offerte aanvragen !</button></a>
    </p>
    <p class="picLabel">
      <img
      
        class="servicePic"
        src="assets/img/Untitled-1.jpg"
        alt="load fail"
        loading="lazy"
      />
      <br />kroonspiegel
    </p>
    <p class="disclaimer">© <span id="currentYear">{{this.domService.getYear()}}</span> De Booser Toon, All rights reserved.</p>

  </div>
</span>
