<span class="content">
  <div class="pageHeader">Snoeien</div>
  <div class="contentSection">
    <div>
      <span class="serviceTitle">1. Opkronen</span> <br />
      <br />
      Verwijderen van de onderste takken tot een gewenste hoogte. <br />
      We kijken samen wat het beste is voor u en uw boom.
      <br />
      <br />
    </div>
    <div class="pictures">
      <img class="servicePic" src="assets/img/Untitled-1.jpg" alt="load fail" />
    </div>
  </div>
  <hr />

  <br />
  <div class="contentSection">
    <div>
      <span class="serviceTitle">2. Uitlichten</span> <br />
      <br />
      Verwijderen van
      <span style="font-weight: 500">
        kruisende takken, waterloten, dubbele takken & dood hout.</span
      >
      <br />
      De bedoeling is om het gewicht & dichtheid van de kruin te verminderen. Zo
      vangen de takken minder wind en is er minder kans op stormschade.
      <br />
      <br />
    </div>
    <div class="pictures">
      <img
        class="servicePic"
        src="assets/img/uitlichten1.jpg"
        alt="load fail"
      />
    </div>
  </div>
  <hr />
  <br />
  <div class="contentSection">
    <div>
      <span class="serviceTitle">3. knotten</span> <br />
      <br />
      <span class="vet">Periode: November - Maart</span>
      <br />
      Takken worden teruggesnoeid naar de oorsprong. <br />
      Deze snoeiwijze kan enkel worden toegepast bij:
      <ul>
        <li>Wilgen</li>
        <li>Essen</li>
        <li>Tamme kastanje</li>
        <li>Elzen</li>
        <li>Meidoorn</li>
        <li>Eik</li>
        <li>Populier</li>
        <li>Linde</li>
      </ul>
    </div>
    <div class="pictures">
      <img
        class="servicePic"
        src="assets/img/IMG_20200318_113626457_HDR.jpg"
        alt="load fail"
      />
    </div>
  </div>
  <a routerLink="/contact"><button>Aanvragen gratis offerte !</button></a>
  <hr />
  <div class="contentSection">
    <div class="opgelet">
      <span class="vet">Opgelet</span>
      Volgende bomen kunnen enkel gesnoeid worden wanneer ze bladeren dragen:
      <ul>
        <li>Acer (esdoorn)</li>
        <li>Betula (berk)</li>
        <li>Carpinus (haagbeuk)</li>
        <li>Juglans (notenboom)</li>
        <li>Vitis (druif)</li>
      </ul>
    </div>
  </div>
</span>
