<span class="content">
  <div class="pageHeader">Circulaire boomverzorging</div>
  <a routerLink="snoeien" class="card" id="snoeienCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/snoeien-low.jpg"
        alt="image load fail"
      />
    </div>
    <div class="desc">Snoeien</div>
  </a>

  <a routerLink="vellen" class="card" id="vellenCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/Vellen-Low.jpg"
        alt="image load fail"
        loading="lazy"
      />
    </div>
    <div class="desc">Vellen</div>
  </a>
  <a routerLink="atelier" class="card" id="atelierCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/klok-low.jpg"
        alt="image load fail"
        loading="lazy"
      />
    </div>
    <div class="desc">Atelier</div>
  </a>
  <div class="whiteSpace"></div>
</span>
