<span class="content">
  <div class="pageHeader">Goede zorg voor uw bomen</div>
  <a routerLink="snoeien" class="card" id="snoeienCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/IMG_20210701_125535782_HDR~2.jpg"
        alt="image load fail"
      />
    </div>
    <div class="desc">Snoeien</div>
  </a>

  <a routerLink="vellen" class="card" id="vellenCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/IMG_20200324_091326009~3.jpg"
        alt="image load fail"
      />
    </div>
    <div class="desc">Vellen</div>
  </a>
  <a routerLink="atelier" class="card" id="atelierCard">
    <div class="pic">
      <img
        class="homePictures"
        src="assets/img/IMG_20200926_100137294.jpg"
        alt="image load fail"
      />
    </div>
    <div class="desc">Atelier</div>
  </a>
</span>
