<span class="content">
  <div class="pageHeader">een 2de leven voor hout van hier</div>
  <div class="contentSection">
    <div class="pictures">
      <img
        class="servicePic"
        src="assets/img/IMG_20220327_150014043.jpg"
        alt=""
      />
    </div>
    <div class="description">
      Onze visie is om <span class="vet">hout van eigen bodem</span> een
      welverdiende plek te geven in uw leefomgeving. <br />
      Het hout wordt op natuurlijke wijze gedroogd zonder tussenkomst van een
      droogoven. <br />
    </div>
  </div>
</span>
