<span class="content">
  <div class="pageHeader">een 2de leven voor hout van hier</div>
  <div class="contentSection">
    <div class="pictures">
      <img
        class="servicePic"
        src="assets/img/IMG_20220113_135810689_HDR~2.jpg"
        loading="eager"
        alt=""
      />
    </div>
    <div class="description">
      Onze visie is om <span class="vet">hout van eigen bodem</span> een
      welverdiende plek te geven in uw leefomgeving. <br />
      <br />
      Na een velling wordt al het bruikbare stamhout verzaagd bij
      <a class="inlineLink" routerLink="/debever">De Bever.</a> <br />
      Vervolgens worden de planken opgelat en op natuurlijke wijze gedroogde
      zonder tussenkomst van een droogoven. <br /><br />
    </div>
    <img
      class="servicePic"
      src="assets/img/IMG_20220327_150014043.jpg"
      alt=""
      loading="lazy"
    />
    <div class="description">
      Na een periode van minimaal 2 jaar wordt het vochtgehalte nagekeken om te
      kijken of het hout geschikt is voor verwerking in het atelier. Onze focus
      ligt vooral bij:
      <ul class="atelierList">
        <li>eettafels</li>
        <li>BoomstamKlokken</li>
        <li>Salontafels</li>
        <li>Bijzettafels</li>
        <li>tuintafels</li>
        <li>epoxytafels</li>
      </ul>
      Wij zijn ook gespecialiseerd in het verwerven van mooie epoxytafels. Neem
      contact op en we kijken samen wat het beste past in uw tuin of woonkamer.

      <br /><br /><a routerLink="/contact"
        ><button>Gratis offerte aanvragen !</button></a
      >
      <br />
      <br />
    </div>
    <img
      class="servicePic"
      id="taxusKlok"
      src="assets/img/klok-low.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20210609_213734780_2.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20230519_150103648_HDR.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20230522_160114528.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG20240214112329~2.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG20240214112311~2.jpg"
      alt=""
      loading="lazy"
    />

    <img
      class="servicePic"
      src="assets/img/IMG_20230731_114413819~2.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20230305_144330006_HDR.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20230609_134006079~2.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20220517_110655584_HDR~2.jpg"
      alt=""
      loading="lazy"
    />
    <img
      class="servicePic"
      src="assets/img/IMG_20230616_135039283_HDR~2.jpg"
      alt=""
      loading="lazy"
    />
    <br />
    <br />
    <p class="disclaimer">
      © <span id="currentYear">{{ this.domService.getYear() }}</span> De Booser
      Toon, All rights reserved.
    </p>
  </div>
</span>
