.content {
  grid-template-rows: 100px 1fr;
  gap: 0;
}
.inlineLink {
  font-weight: 400;
}
#deBeverLogo {
  width: 25px;
}
#taxusLogo {
  width: 100px;
  justify-self: center;
}

.description {
  padding: 10px;
  align-self: center;
}
.disclaimer {
  grid-column: 1/2;
}
@media (min-width: 800px) {
  #atelierHead {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .disclaimer {
    grid-column: 1/3;
  }

  #taxusLogo {
    width: 200px;
  }
}
