<span class="content">
  <div class="contentSection" id="deBeverHeader">
    <div class="pageHeader">De Bever</div>
    <img
      class="servicePic"
      id="deBeverLogo"
      src="assets/img/bever.png"
      alt="load fail"
    />
  </div>
  <div class="contentSection">
    <img
      class="servicePic"
      src="assets/img/IMG_20211113_122614290_HDR~2.jpg"
      alt="load fail"
    />
    <div class="text">
      Boomwerken De Bever kan met behulp van een mobiele bankzaag alle stammen,
      met diameter van 1m & totale lengte van 8,5m, <br />
      ter plaatsen verzagen tot:
      <ul>
        <li>Planken</li>
        <li>Balken</li>
        <li>constructie hout</li>
        <li>Andere ideeën</li>
      </ul>
    </div>
    <img
      id="edgePic"
      class="servicePic"
      id="edgen"
      src="assets/img/IMG_20220114_150118974~2.jpg"
      alt="load fail"
    />
    <div id="edgeDescription" class="description">
      Met behulp van een edger kunnen alle planken, met een maximale dikte van
      5,5cm & een max breedte van 45cm, gekantrecht worden.
    </div>
    <img
      class="servicePic"
      id="edgen"
      src="assets/img/IMG_20220118_130707870_HDR~2.jpg"
      alt="load fail"
    />
    <div id="oplatPic" class="description">
      Vervolgens kunnen alle planken worden opgelat & onder spanning worden
      gezet. <br />
      <br />
      Pakketten kunnen worden besteld en opgehaalt of u kan ervoor kiezen om uw
      stammen op locatie te laten verzagen.
    </div>
    <hr />
  </div>
  <div class="contentSection" id="deBeverFooter">
    <ul id="gegevens">
      <li><a href="tel:+32497715861">+32497715861</a></li>
      <br />
      <li>
        <a href="mailto:boomwerkendebever@gmail.com" class="envelope">
          boomwerkendebever&#64;gmail.com
        </a>
      </li>
    </ul>
    <img
      class="servicePic"
      id="deBeverLogoFooter"
      src="assets/img/bever.png"
      alt="load fail"
    />
  </div>
</span>
