<span class="content">
  <div class="contentSection" id="deBeverHeader">
    <div class="pageHeader">De Bever</div>
    <img
      class="servicePic"
      id="deBeverLogo"
      src="assets/img/bever.png"
      alt="load fail"
    />
  </div>
  <div class="contentSection">
    <img
      class="servicePic"
      src="assets/img/IMG_20211113_122614290_HDR~2.jpg"
      alt="load fail"
    />
    <div class="text">
      Boomwerken De Bever kan met behulp van een mobiele bankzaag alle stammen,
      met diameter van 1m & totale lengte van 8,5m, <br />
      ter plaatsen verzagen tot:
      <ul>
        <li>Planken</li>
        <li>Balken</li>
        <li>constructie hout</li>
        <li>Andere ideeën</li>
      </ul>
    </div>
  </div>
</span>
